<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Edit</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>User Edit Form</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form action="/edituser/<%= rowsID[0].id %>" method="post">
              <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input
                      type="text"
                      name="first_name"
                      placeholder="First Name"
                      value="<%= rowsProfile[0].first_name %>"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input
                      type="text"
                      name="last_name"
                      placeholder="Last Name"
                      value="<%= rowsProfile[0].last_name %>"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  value="<%= rowsID[0].email %>"
                  required
                />
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  value="<%= rowsID[0].user %>"
                  required
                />
              </div>

              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Password"
                  value="<%= rowsID[0].pass %>"
                  required
                />
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input
                  id="confirm_password"
                  type="password"
                  name="confirm_password"
                  placeholder="Re-type Password"
                  value="<%= rowsID[0].pass %>"
                  required
                />
              </div>
              <span id="message"></span>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input
                  type="text"
                  name="phone"
                  placeholder="Phone"
                  value="<%= rowsProfile[0].phone %>"
                  required
                />
              </div>

              <div>
                <label for="start">Date of Birth :</label>
                <input
                  type="date"
                  id="birth"
                  name="birth"
                  value="<%=tgl%>"
                  min="1970-01-31"
                  max="2010-01-01"
                />
              </div>

              <!-- <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1" />
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup2" id="rd2" />
                <label for="rd2">Female</label>
              </div> -->
              <%= rowsProfile[0].gender %>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input
                  type="text"
                  name="address"
                  placeholder="Address"
                  value="<%= rowsProfile[0].address %>"
                  required
                />
              </div>
              <input class="button" type="submit" value="Update Profile" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <p class="credit">
      Developed by <a href="/" target="_blank">Traditional Game</a>
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $("#password, #confirm_password").on("keyup", function () {
        if ($("#password").val() === $("#confirm_password").val()) {
          $("#message").html("Matching").css("color", "green");
        } else $("#message").html("Not Matching").css("color", "red");
      });
    </script>
  </body>
</html>
